.center_plot {
    margin: auto;
    text-align: center;
}

.section {
    text-align: center;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 70px;
  padding: 5px;
  font: 15px "Fira Sans";
  background: lightsteelblue;
  border-radius: 8px;
  border-width: 2px;
  pointer-events: none;
}

h1 {
    text-align: center;
    font: 200% "Fira Sans";
    font-weight: bold;
}

h2 {
    text-align: center;
    font: 150% "Fira Sans";
    font-weight: bold;
}

h3 {
    font: 130% "Fira Sans";
    font-weight: bold;
}

h4 {
    font: 100% "Fira Sans";
    font-weight: bold;
}

body {
    font-family: "Fira Sans", serif;
}

.county {
  fill: #fff;
}

