<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visulization of COVID Hesitancy in United States</title>
</head>


<link rel="stylesheet" href="../../assets/css/styles.css">
<script type="text/javascript" src="../../assets/js/app.js"></script>
<script type="text/javascript" src="../../assets/js/d3.min.js"></script>
<script type="text/javascript" src='../../assets/js/simple-statistics.min.js'></script>


<script type="text/javascript">
    let file_path = "../../assets/data/Vaccine_Hesitancy.csv";
    draw_plot1(file_path)
    draw_plot2(file_path)
    draw_plot3("../../assets/data/vaccine_rollout.csv")
    draw_plot4(file_path)
    draw_plot5(file_path)
</script>

<body>

<div>
    <h1>Visulization of COVID Hesitancy in United States</h1>
    <h2>Author: Scott Yang</h2>
</div>

<div>
    <h3>Plot 1:</h3>
    <p>Explore the relationship between vaccine hesitancy and social vulnerability.</p>

    <h4>Plot:</h4>
    <div id="radio_plot1" class="center_plot">
        <div>
            <label>
                <input type="radio" name="hesitant" id="p1a" value="estimated_hesitant_unsure" checked="checked">
            </label> Hesitant or Unsure
            <label>
                <input type="radio" name="hesitant" id="p1b" value="estimated_hesitant">
            </label> Hesitant
            <label>
                <input type="radio" name="hesitant" id="p1c" value="estimated_strongly_hesitant">
            </label> Strongly Hesitant
        </div>
    </div>
    <div id="plot1" class="center_plot"></div>
</div>

<div>
    <h3>Plot 2:</h3>
    <p>Visualize the Estimated Hesitant in different states</p>

    <h4>Plot:</h4>
    <div id="radio_plot2" class="center_plot">
        <div>
            <label>
                <input type="radio" name="hesitant2" id="p2a" value="estimated_hesitant_unsure" checked="checked">
            </label> Hesitant or Unsure
            <label>
                <input type="radio" name="hesitant2" id="p2b" value="estimated_hesitant">
            </label> Hesitant
            <label>
                <input type="radio" name="hesitant2" id="p2c" value="estimated_strongly_hesitant">
            </label> Strongly Hesitant <br>
            <button type="button" id="sort_button">Sort me!</button>
        </div>
    </div>
    <div id="plot2" class="center_plot"></div>
</div>

<div>
    <h3>Plot 3:</h3>
    <p>Visualize the vaccination administrating progress in the United States by their vaccine type</p>

    <h4>Plot:</h4>
    <div id="radio_plot3" class="center_plot">
    </div>
    <div id="plot3" class="center_plot"></div>
</div>

<div>
    <h3>Plot 4:</h3>
    <p>Visualize the difference between the fully vaccinated against COVID-19 rate
        with respect to Social Vulnerability Index(SVI) Category</p>

    <h4>Plot:</h4>
    <div id="plot4" class="center_plot"></div>
</div>

<div>
    <h3>Plot 5:</h3>
    <p>Visualize the Relationship between Level of Social Vulnerability with the Hesitancy about vaccine.</p>

    <h4>Plot:</h4>
    <div id="plot5" class="center_plot"></div>
</div>


</body>
</html>
    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>